In [1]:
import pandas as pd

In [25]:
# Load constituency naming files
constituencies_2010 = pd.read_csv('../raw_data/PCON_DEC_2021_UK_NC-Table 1.csv')
constituencies_2024 = pd.read_csv('../raw_data/Westminster_Parliamentary_Constituencies_(Future)_Names_and_Codes_in_the_United_Kingdom_v2.csv')
mapping_file = pd.read_csv('../raw_data/Westminster_PCON_(2010)_to_future_Westminster_PCON_(2024)_Lookup_in_the_UK_(V2).csv')

In [26]:
mapping_file.head()

,PCON10CD,PCON10NM,PCON10NMW,PCON24CD,PCON24NM,PCON24NMW,ObjectId
0,E14000530,Aldershot,NaN,E14001063,Aldershot,NaN,1
1,E14000844,North East Hampshire,NaN,E14001063,Aldershot,NaN,2
2,E14000531,Aldridge-Brownhills,NaN,E14001064,Aldridge-Brownhills,NaN,3
3,E14001012,Walsall South,NaN,E14001064,Aldridge-Brownhills,NaN,4
4,E14000532,Altrincham and Sale West,NaN,E14001065,Altrincham and Sale West,NaN,5

In [16]:
# Drop and rename columns
constituencies_2010.drop(columns=['Unnamed: 2',	'Unnamed: 3', 'Unnamed: 4'],inplace=True)
# constituencies_2010.rename(columns={'PCON21CD':'ID','PCON21NM':'Old Name'},inplace=True)

constituencies_2024.drop(columns=['PCON24NMW', 'ObjectId'],inplace=True)
# constituencies_2024.rename(columns={'PCON24CD':'ID','PCON24NM':'New Name'},inplace=True)

In [27]:
# Join 2 files
constituency_mapping = pd.merge(constituencies_2024,mapping_file,how='left',left_on='PCON24CD',right_on='PCON24CD')

In [29]:
constituency_mapping.head()

,PCON24CD,PCON24NM_x,PCON24NMW_x,ObjectId_x,PCON10CD,PCON10NM,PCON10NMW,PCON24NM_y,PCON24NMW_y,ObjectId_y
0,E14001263,Hamble Valley,NaN,1,E14000685,Eastleigh,NaN,Hamble Valley,NaN,516
1,E14001263,Hamble Valley,NaN,1,E14000699,Fareham,NaN,Hamble Valley,NaN,517
2,E14001263,Hamble Valley,NaN,1,E14000811,Meon Valley,NaN,Hamble Valley,NaN,518
3,E14001264,Hammersmith and Chiswick,NaN,2,E14000593,Brentford and Isleworth,NaN,Hammersmith and Chiswick,NaN,519
4,E14001264,Hammersmith and Chiswick,NaN,2,E14000726,Hammersmith,NaN,Hammersmith and Chiswick,NaN,520